DEBUG=True
SECRET_KEY=

DOMAIN_NAME=http://127.0.0.1:8000

REDIS_HOST=redis
REDIS_PORT=6379

CELERY_BROKER_URL=redis://redis:6379
CELERY_RESULT_BACKEND=redis://redis:6379

DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

EMAIL_HOST=smtp.yandex.com
EMAIL_PORT=465
EMAIL_HOST_USER=prodserver@yandex.ru
EMAIL_HOST_PASSWORD=lmvxacjicfcersyf
EMAIL_USE_SSL=True

DEFAULT_FROM_EMAIL = EMAIL_HOST_USER
SERVER_EMAIL = EMAIL_HOST_USER
EMAIL_ADMIN = EMAIL_HOST_USER


YOKASSA_SECRET=
YOKASSA_ACC_ID=

ADMIN_USERNAME=root 
ADMIN_EMAIL=root@mail.com 
ADMIN_PASSWORD=root

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
